[Desktop Entry]
Name=Vitals
Comment=A system vitals applet for the COSMIC desktop
Type=Application
Icon=com.github.bgub.CosmicExtAppletVitals
Exec=cosmic-ext-applet-vitals %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;vitals;system;monitor;cpu;ram
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
